html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}



/* ****************************************************
                Main StyleSheet                                
******************************************************/  

body {
    margin: 5%;
    display: grid;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header {
    display: flex;
    color: orange;
    justify-content: center;
    margin: 5%;
    font-size: 50px;
}

#choices {
    display: flex;
    height: 210px;
    justify-content: center;
    flex-direction: row;
}

.button {
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 3px solid orange;
    height: 200x;
    width: 200px;
    margin: 10px;
    align-items: stretch;
    border-radius: 25%;
    padding: 5px;
    justify-content: space-evenly
}

.button-image {
    display: block;
    width: 50%;
    height: 70%;
    margin: 5px;
    margin-left: auto;
    margin-right: auto
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto
}

#results {
    display: flex;
    color: orange;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
    text-align: center;
    text-align-last: center;
}

#inputField {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.roundSelect {
    display: flex;
    color: orange;
    justify-content: space-evenly;
    margin-left: 20px;
    font-size: 15px;
    padding: 10px;
}
#roundInput {
    display: flex;
    color: orange;
    justify-content: space-evenly;
    width: 150px;
    margin: 5%;
    font-size: 15px;
    background-color: black;
    border-radius: 20px;
    border-color: orange;
    text-align: center;
    text-align-last: center;
}

#finalResults {
    display: flex;
    color: orange;
    justify-content: center;
    margin: 5%;
    font-size: 20px;
    text-align: center;
    text-align-last: center;
}